@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';


/* purgecss start ignore */
[x-cloak] {
    display: none;
}

input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

.btn {
    &.btn-primary {
        @apply inline-flex items-center p-2 rounded-md font-semibold text-xs text-white uppercase tracking-widest bg-main hover:bg-main-dark focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150;
    }
    &.btn-secondary {
        @apply py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700;
    }
}
/* purgecss end ignore */
